{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Subscribe</h2>
                </div>
                <div class="card-body">
                    <p class="text-muted">Choose your subscription plan</p>
                    <form action="{% url 'subscribe' %}" method="POST" id="payment-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="subscription-plan">Subscription Plan</label>
                                    <select class="form-control" id="subscription-plan" name="subscription_plan">
                                        <option value="monthly">Monthly - £39.99</option>
                                        <option value="yearly">Yearly - £400</option>
                                    </select>
                                </div>
                                <div class="alert alert-info">
                                    <p>Your subscription includes a 7-day free trial. After the trial period, the chosen plan fee will be charged.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <fieldset class="rounded px-3 mb-5">
                                    <legend class="fieldset-label small text-black px-2 w-auto">Personal Details</legend>
                                    {{ order_form.full_name|as_crispy_field }}
                                    {{ order_form.email|as_crispy_field }}
                                </fieldset>
                                <fieldset class="rounded px-3 mb-5">
                                    <legend class="fieldset-label small text-black px-2 w-auto">Billing Address</legend>
                                    {{ order_form.phone_number|as_crispy_field }}
                                    {{ order_form.country|as_crispy_field }}
                                    {{ order_form.postcode|as_crispy_field }}
                                    {{ order_form.town_or_city|as_crispy_field }}
                                    {{ order_form.street_address1|as_crispy_field }}
                                    {{ order_form.street_address2|as_crispy_field }}
                                    {{ order_form.county|as_crispy_field }}
                                    <div class="form-check form-check-inline float-right mr-0">
                                        {% if user.is_authenticated %}
                                            <label class="form-check-label" for="id-save-info">Save this billing information to my profile</label>
                                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                                        {% else %}
                                            <label class="form-check-label" for="id-save-info">
                                                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                            </label>
                                        {% endif %}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <fieldset class="px-3 mb-5">
                            <legend class="fieldset-label small text-black px-2 w-auto">Payment Information</legend>
                            <!-- A Stripe card element will go here -->
                            <div class="mb-3" id="card-element"></div>
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        </fieldset>
                        <div class="submit-button text-right mt-5 mb-2">                    
                            <button id="submit-button" class="btn btn-black rounded-0">
                                <span class="font-weight-bold">Complete Order</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'subscribe/js/stripe_elements.js' %}"></script>
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
{% endblock %}
