{% extends "base.html" %}

{% block title %}Subscription Successful - CodeNomad{% endblock %}

{% block content %}
<section>
  <h1>Subscription Successful</h1>
  <p>Thank you for subscribing! We hope you enjoy our services. Here are some things you can do next:</p>
  <ul>
    <li><a href="#">Getting Started Guide</a></li>
    <li><a href="#">Access Exclusive Content</a></li>
    <li><a href="#">Join Our Community Forum</a></li>
  </ul>
  <p>If you have any questions, feel free to <a href="#">contact us</a>.</p>
</section>
{% endblock %}
