env/

templates/allauth/socialaccount/messages/account_disconnected.txt
templates/allauth/socialaccount/signup.html
templates/allauth/socialaccount/snippets/login.html
templates/allauth/socialaccount/snippets/login_extra.html
templates/allauth/socialaccount/snippets/provider_list.html
templates/allauth/usersessions/base_manage.html
templates/allauth/usersessions/messages/sessions_logged_out.txt
templates/allauth/usersessions/usersession_list.html

*.pyc
__pycache__/
db.sqlite3
media/

# Ignore collected static files
/staticfiles/

# Ignore specific static directories or files
/static/css/
/static/js/
/static/images/
/static/vendor/

# Optionally, ignore all static files
/static/


# .gitignore file
.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
env/
venv/

# Ignore Django migration files
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Ignore VS Code settings
.vscode/
